form(name="newVehicle", #vehicleForm="ngForm")
  .form-group
    label Vehicle plate number
    input.form-control([(ngModel)]="newVehicle.plate", name="plate", required)

  .form-group.vehicle-type
    label Vehicle type
    .btn-group.btn-group-toggle([(ngModel)]="newVehicle.type", ngbRadioGroup, name="type", required)
      label.btn.btn-secondary(ngbButtonLabel)
        fa-icon.btn([icon]="carIcon")
        input(type="radio", ngbButton, [value]="carType")
        |Car
      label.btn.btn-secondary(ngbButtonLabel)
        fa-icon.btn([icon]="motoIcon")
        input(type="radio", ngbButton, [value]="motorbykeType")
        |Motorbike
    
  button.btn.btn-primary.confirm(
    type="submit",
    [disabled]="vehicleForm.invalid",
    (click)="save(newVehicle)"
  ) Assign slot