:host {
    form{
        margin: 0 auto;
        width: 60%;
        max-width: 32rem;
        min-width: 14rem;

        .vehicle-type {
            .btn-group {
                display: flex;
                label {
                    padding: 0 1rem 0 0;
                }
            }
        }
        .form-group:not(:first-of-type) {
            margin-top: 2rem;
        }
        .confirm {
            display: block;
            margin-left: auto;
            margin-top: 4rem;
        }
    }
}