nav.navbar.navbar-light
  .d-inline-block(ngbDropdown)
    button.navbar-toggler(ngbDropdownToggle)
      fa-icon.btn.text-primary([icon]="menuIcon")
    div(ngbDropdownMenu aria-labelledby="mainMenu")
      a.dropdown-item(*ngFor="let route of routeViews", [routerLink]="route.url", routerLinkActive="active") {{route.title}}
  span.navbar-brand.mb-0.h1 {{currentRouteTitle}}
  .spacer