:host {
    $color: #9b4b0f;

    $spacing: 0.5rem;
    margin: 0;
    padding: $spacing;
    .search, .list {
        margin: $spacing*2 $spacing;
    }
    & > div:first-child {
        margin-top: $spacing;
    }
    & > div:last-child {
        margin-bottom: $spacing;
    }

    .search {
        $icon-size: 1rem;
        $input-padding: 0.6rem;

        fa-icon {
            color: $color;
            display: flex;
            align-items: center;
            font-size: $icon-size;
            margin-right: -($input-padding + $icon-size);
            margin-left: $icon-size;
            z-index: 2;
        }
        input {
            color: $color;
            padding-left: ($input-padding * 2) + $icon-size;
            background-color: #fff1e7;
            border-radius: 0;
            border: 0 solid;
            z-index: 1;
            &:focus {
                box-shadow: 0 0 0 0.1rem rgba(155, 75, 15, 0.25);
            }
        }
    }

    .list {
        h6 {
            font-weight: bold;
            text-transform: uppercase
        }
        ul {
            color: $color;
            list-style: none;
            padding: 0;
            &>li a {
                display: flex;
                align-items: center;
                text-decoration: none;
                &::before {
                    content: '•';
                    line-height: 1rem;
                    font-size: 1.8rem;
                    margin: 0 0.6rem;
                }
                &:not(.active) {
                    color: $color;
                }
            }
        }
    }
}