.search.input-group.has-feedback
    fa-icon.form-control-feedback([icon]="searchIcon")
    input.form-control(type="search", placeholder="Search", [(ngModel)]="search")
.list
    h6 Levels
    ul
        li(*ngFor="let targetLevel of floors")
            a([routerLink]="makeUrl({'level': targetLevel})", [ngClass]="{'active': targetLevel === level}") Level {{targetLevel + 1}}
.list
    h6 Type
    ul
        li
            a([routerLink]="makeUrl({type: carType})", [ngClass]="{'active': type === carType}") Car
        li
            a([routerLink]="makeUrl({type: motorbikeType})", [ngClass]="{'active': type === motorbikeType}") Motorbike