:host {
    margin: 0;
    padding: 0;
    .navbar {
        padding: 0.1rem 0.9rem;
        background-color: white;
        height: 3.2rem;
        display: block;

        fa-icon + span {
            margin: 0 1rem;
        }
    }
}